h5{
    text-align: center;
    color:azure;
}
.navbbar{
    background-color: #C1C8E4;;
    width: 100%;
    opacity: 80%;
}
.navbtn{
    margin-left: 75%;
}
.btnn{
    margin: -40px 2% ;     /* trbl */
    padding: 25px;
    padding-top: 70px;
    border-radius: 30px;
    font-size: 20px;
    border:none;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}
.btnn:hover{
    width: 150px;
    margin-left: -2px; 
}
#editbutton{
    background-color: #0A0A0A;
    color: #ffffff;
}
#backbutton{
    padding: 20px;
    padding-top: 70px;
    background-color: #F3E0DC;
    color: black;
}
.maincontainer{
    margin-top: 3%;
    margin-left: 5%;
    width:90%;
}
.votingcard{
    background-color:navy;
    margin-top: 1%;

    /* padding: 20px; */
    /* width: 50px; */
    border-radius: 20%;
    height: 25em;
}